<!--IMPROVOLA-->
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ejercicio - Web de Peliculas</title>
    <link rel="shortcut icon" href="img/icon.png" type="image/png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header>
        <h1>Web de Peliculas</h1>
    </header>
    <main id="app">
        
        <h3>Buscar peliculas</h3>
        <!--buscador-->
        <div class="row">
            <div class="col">
            <input type="search" name="" id="search" v-model="nombrePelicula" placeholder="buscar..." >
            </div>
        </div>
            
        <br><br>
        <div v-for="peli of buscarPeli"  class="card">
            <div class="row">
                <h3>Favoritos</h3>
                <i v-on:click="darLike(peli)" v-bind:class="{'like': peli.like==true}" class="fa-solid fa-lg fa-heart "></i>
            </div>
            <!--V-TEXT NOMBRE PELICULA-->
            <h2 v-text='peli.nombre'></h2>
            <!--V-BIND IMAGEN PELICULA-->
            <img v-bind:src="peli.fotoUrl" alt="">
            <!--V-TEXT ANIO PELICULA-->
            <p v-text='peli.estreno'> |
            <!--V-TEXT NOMBRE DIRECTOR-->
            <strong v-text='peli.director'></strong> </p>
        </div>

    </main>
    <footer>
        <p> Web de Peliculas | 2022 </p>
    </footer>
    <script src="peliculas.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <script src="app.js"></script>
</body>
</html>